<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<tbody>
 <h2>User info</h2>
<%=image_tag current_user.get_profile_image(100,100)%>
<tr>
 <th>name:<%=@user.name %></th>
</tr>
<tr>
 <th>introduction:<%=@user.introduction %>
</tr>
<% if @user==current_user %>
<%=link_to "Edit",edit_user_path(@user.id) %>
<%end%>
</tbody>

<h1>New book</h1>
<%=form_with model:@book do |f| %>
<h4>Title</h4>
 <%=f.text_field:title %>
<h4>Body</h4>
 <%=f.text_area:body %>

<%=f.submit'Create Book' %>
<%end%>

<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <p><%=image_tag  book.user.get_profile_image(100,100)%></p>
  <p>Title:<%=book.title %></p>
  <p>Opinion:<%=book.body %></p>
</div>
<%end%>